h1 {
    margin: 30px;
    align-self: start;

}

h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #80BBB5;
    margin:  auto;
    position: absolute;
    border-radius: 10px;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 15px auto 20px;
    flex-wrap: wrap;
}

.top-bar input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.top-bar a button,
#limparTudo {
    background-color: #80BBB5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.top-bar button:hover {
    background-color: #2980b9;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.card button {
    margin-top: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #c0392b;
}